body {
    margin-top: 40px;
    margin-left: 100px;
    background-color: lightgray;
}
#card-container {
    position: relative;
}
.card {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    position: absolute;

    transform: rotateX(60deg) rotateZ(-45deg);
    filter: drop-shadow(-20px 20px 50px black);
    opacity: 0.8;

    transition: all 2s;
}
#card1 {
    background-image: linear-gradient(45deg, blue, lightblue) ;
    color: white;
    border-left: solid 4px rgb(19, 170, 203);
    border-bottom: solid 4px rgb(32, 42, 44);  
    
    z-index: -1;
}
#card2 {
    background-image: url('../images/mesh-gradient\ \(1\).png') ;
    background-size: 400px 250px;
    color: white;
    border-left: solid 4px rgb(216, 169, 15);
    border-bottom: solid 4px rgb(32, 42, 44);
    color: black;
    
    top: 60px;
    z-index: -2;
}
.card-header {
    position: absolute;
    top: 10%;
    left: 10%;
}
.card-header img {
    width: 70px;
}
.card-number {
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}
.card-user {
    position: absolute;
    top: 65%;
    left: 10%;
    font-size: 22px;
    letter-spacing: 3px;
}

#card1:hover, #card2:hover {
    transform: rotateX(0deg) rotateZ(0deg) scale(0.8);
    z-index: 100;
}

/* form */
form {
    position: relative;
    top: 300px;
}